version: '3.8'

services:
  # ----------------------------------------------------------------
  # 1. TU APLICACIÓN QUARKUS
  # ----------------------------------------------------------------
  app:
    image: urgosxd7/mi-app-prod:v1
    container_name: quarkus-app-prod
    restart: always
    env_file:
      - .env
    expose:
      - "8081"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - prod-network
      - red-compartida
      - proxiable
    environment:
      KEYCLOAK_INTERNAL_URL: http://keycloak-prod:8080
      KEYCLOAK_ADMIN_USER: adminpds
      KEYCLOAK_ADMIN_PASSWORD: adminpds
      QUARKUS_OIDC_TOKEN_ISSUER: any



  # ----------------------------------------------------------------
  # 2. BASE DE DATOS (POSTGRES)
  # ----------------------------------------------------------------
  postgres:
    image: postgres:15
    container_name: postgres-prod-app
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-aa} -d ${POSTGRES_DB:-aa}"]  # Usa defaults si no seteados
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - prod-network

    
volumes:
  postgres_data:

networks:
  proxiable:
    external: true
    name: proxiable # Asegúrate de que este nombre coincida exactamente con tu red externa
  prod-network:
    driver: bridge
  red-compartida:
    external: true      # <--- ¡ESTO ES LO IMPORTANTE!
    name: red-compartida # Asegura que busque el nombre exacto
