webhook:
    payload:
        secret: ${WEBHOOK_PAYLOAD_SECRET:my-secure-webhook-secret}

'%prod':
    keycloak:
        url: http://localhost:8180
    quarkus:
        oidc:
            auth-server-url: ${keycloak.url}/realms/quarkus

