quarkus:
  # configure your datasource
  datasource:
    db-kind: postgresql
  
"%prod":
  quarkus:
    datasource:
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
      jdbc: 
        url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}  
    flyway:
      baseline-on-migrate: true
      migrate-at-start: true
      create-schemas: true
      clean-at-start: true
      schemas: quarkus
"%dev":
  quarkus:
    flyway:
      baseline-on-migrate: true
      migrate-at-start: true
      create-schemas: true
      clean-at-start: true
      schemas: quarkus
